<div class="front-page">
  <div class="title">
    <div class="title-boobzic">
      <h1>BOOBZIC</h1>
    </div>
  </div>

  <div class="motto">
    <h2>"Boobzic, c’est un peu Eminem et Edith Piaf sur une même scène !”</h2>
  </div>

  <div class="band-description">
    <div class="container item-container">
      <div class="subtitle" id="band">Le groupe</div>
      <div class="card1">
        <h2>Une rencontre entre une chanteuse, une accordéoniste, une violoniste, une pianiste et une batteuse.</h2>
        <%= image_tag "band1.JPG", alt:"boobzic", class: "band_picture" %>
      </div>

      <div class="card2">
        <%= image_tag "band2.jpg", alt:"boobzic", class: "band_picture" %>
        <h2>Un répertoire varié de reprises : jazz, rap, musette, variété française et internationale, rap...</h2>
      </div>

      <div class="card1">
        <h2>Des morceaux qui nous parlent et dans lesquels on essaie de mettre un peu de nous.</h2>
        <%= image_tag "band3.jpg", alt:"boobzic", class: "band_picture" %>
      </div>

      <div class="card2">
        <%= image_tag "chamaret2.jpg", alt:"boobzic", class: "band_picture" %>
        <h1>En bref, une musique conviviale et accessible parfaite pour vos soirées !</h1>
      </div>
      <div class="band-motto"></div>
    </div>
  </div>

  <div class="concerts">
    <div class="container item-container-container">
      <div class="subtitle" id="concerts">Concerts</div>
      <p>A venir</p>
      <p>Passés</p>
      <%= @concerts.each do |concert| %>
        <div class="card_concert">
        </div>
      <% end %>
    </div>
  </div>

  <div class="videos">
    <div class="container item-container">
      <div class="subtitle" id="videos">Vidéos</div>
      <div class="boobzic-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q59WXtRLn9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="technical">
    <div class="container item-container">
      <div class="subtitle" id="technical">Répertoire et fiche technique</div>
    </div>
  </div>

  <div class="medias">
    <div class="container item-container">
      <div class="subtitle" id="medias">Médias</div>
    </div>
  </div>

  <div class="contact">
    <div class="container item-container">
      <div class="subtitle" id="contact">Contact</div>
      </form>
      <p>Info & Booking : boobzic@gmail.com</p>
    </div>
  </div>

</div>
