<%= form_for @concert do |f| %>
  <%= f.label :place, "Le lieu de l'événement"%>
  <%= f.text_field :place %>

  <%= f.label :date, "Le date de l'événement"%>
  <%= f.date_field :date %>

  <%= f.submit %>
<% end %>


<form action="/concerts" method="patch">
  <input type="text" name="concert[place]" value="">
  <input type="date" name="concert[date]">
  <input type="string" name="concert[photo]">
  <input type="submit" value="Create concerts">
</form>
